@model IEnumerable<MyClass.Models.Menu>
<h3 class="text-warning">THÔNG TIN</h3>
<ul>
    @foreach (var menu in Model)
    {
        <li> <a class="text-decoration-none" href="@menu.Link">@menu.Name </a></li>
    }
</ul>
